.imageContainer > img {
  width: 200px;
  display: block;
}
.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}
.content {
  width: 70vw;
  text-align: center;
}
